body {
    background-color: rgb(184, 67, 67);
    font-family: sans-serif;
    padding: 20px;
    color: #ccc;
}
 
nav {
    background-color: #222;
    padding: 10px;
    color: #333;
}
 
a {
    color: #aaa;
}
 
.prefix {
    color: yellow;
}
 
.showInfoArea {
    margin: 10px 0 0 0;
}
.showInfoArea .productInfo {
    margin: 5px 0 0 0;
}
img{
    width:10rem;

}